@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%; }

a, u {
  text-decoration: none; }

img {
  display: block; }

ul, ol, li {
  list-style: none; }

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

i, em {
  font-style: normal; }

.siderFix_index {
  display: block;
  position: fixed;
  width: 36px;
  height: 100%;
  z-index: 9999;
  top: 0px;
  right: 0;
  color: #fff;
  background: #888; }
  .siderFix_index li {
    padding: 0 4px; }
    .siderFix_index li a {
      position: relative;
      z-index: 1000;
      color: #eee;
      display: block;
      padding: 20px 3px;
      width: 20px;
      border-top: 1px solid #fff;
      text-align: center;
      line-height: 20px;
      padding-bottom: 12px; }
      .siderFix_index li a .memberShip {
        display: block;
        width: 23px;
        height: 23px;
        margin-bottom: 5px; }
      .siderFix_index li a .cartIcon {
        display: block;
        width: 23px;
        height: 23px;
        margin-bottom: 5px; }
      .siderFix_index li a span {
        display: block;
        border-radius: 30px;
        width: 20px;
        height: 20px;
        background-color: #f43600;
        text-align: center;
        line-height: 20px;
        margin-top: 5px; }
      .siderFix_index li a .message {
        display: block;
        width: 23px;
        height: 23px;
        margin-bottom: 5px; }

#header_top {
  width: 100%;
  height: 36px;
  border-bottom: 1px solid #e5e5e5;
  background: #f2f2f2;
  position: relative;
  z-index: 10; }
  #header_top .header_top_box {
    width: 1200px;
    height: 36px;
    background: #f2f2f2;
    line-height: 36px;
    margin: 0 auto;
    color: #6c6c6c; }
    #header_top .header_top_box .header_top_left {
      float: left; }
      #header_top .header_top_box .header_top_left .fl {
        float: left;
        display: inline;
        width: 210px;
        height: 100%; }
        #header_top .header_top_box .header_top_left .fl #summary-stock-list {
          margin-top: -4px !important; }
          #header_top .header_top_box .header_top_left .fl #summary-stock-list .dt {
            float: left;
            width: 42px;
            text-align: right;
            font-family: simsun;
            line-height: 34px; }
          #header_top .header_top_box .header_top_left .fl #summary-stock-list .dd {
            margin-top: 5px; }
            #header_top .header_top_box .header_top_left .fl #summary-stock-list .dd #store-selector {
              position: relative;
              float: left;
              z-index: 3;
              height: 26px;
              margin-right: 6px; }
              #header_top .header_top_box .header_top_left .fl #summary-stock-list .dd #store-selector .text {
                float: left;
                position: relative;
                top: 0;
                height: 23px;
                background: #fff;
                border: 1px solid #CECBCE;
                padding: 0 15px 0 15px;
                overflow: hidden; }
                #header_top .header_top_box .header_top_left .fl #summary-stock-list .dd #store-selector .text b {
                  display: block;
                  width: 17px;
                  height: 24px;
                  position: absolute;
                  top: 0;
                  right: 0;
                  background-position: left center;
                  overflow: hidden;
                  background-image: url(../images/newicon20140417.png);
                  background-repeat: no-repeat; }
            #header_top .header_top_box .header_top_left .fl #summary-stock-list .dd #store-prompt {
              float: left;
              line-height: 25px; }
          #header_top .header_top_box .header_top_left .fl #summary-stock-list .clr {
            display: block;
            overflow: hidden;
            clear: both;
            height: 0;
            line-height: 0;
            font-size: 0; }
      #header_top .header_top_box .header_top_left ul {
        list-style: none;
        float: left; }
        #header_top .header_top_box .header_top_left ul li {
          float: left;
          margin-left: 10px; }
        #header_top .header_top_box .header_top_left ul #spanNoLogin {
          margin: 0;
          padding: 0; }
          #header_top .header_top_box .header_top_left ul #spanNoLogin li {
            float: left;
            margin-left: 10px; }
            #header_top .header_top_box .header_top_left ul #spanNoLogin li a {
              color: #6c6c6c; }
            #header_top .header_top_box .header_top_left ul #spanNoLogin li a:link {
              color: #777777;
              text-decoration: none !important; }
    #header_top .header_top_box .header_top_right {
      position: relative;
      float: right;
      height: 28px; }
      #header_top .header_top_box .header_top_right .hasSubMenu {
        position: relative;
        z-index: 1;
        float: left;
        display: inline;
        height: 28px; }
        #header_top .header_top_box .header_top_right .hasSubMenu a {
          padding: 6px 0;
          padding-left: 10px;
          padding-right: 8px; }
        #header_top .header_top_box .header_top_right .hasSubMenu a:link, #header_top .header_top_box .header_top_right .hasSubMenu a:visited {
          color: #777777;
          text-decoration: none !important; }
      #header_top .header_top_box .header_top_right li {
        float: left;
        display: inline;
        height: 28px; }

.header_center {
  height: 155px;
  border-bottom: 3px solid #fc4c65;
  position: relative;
  background: #fff;
  margin: 0 auto;
  /* 底部 */ }
  .header_center .w {
    width: 1200px;
    margin: 0 auto;
    clear: both;
    position: relative; }
    .header_center .w .logo {
      float: left;
      height: 125px;
      line-height: 125px;
      margin-right: 70px; }
      .header_center .w .logo img {
        vertical-align: middle;
        padding-top: 30px; }
    .header_center .w .freeCarry {
      float: left;
      margin-top: 50px;
      margin-right: 0px; }
      .header_center .w .freeCarry img {
        width: 167px;
        height: 31px; }
    .header_center .w .searchCon {
      float: left;
      margin-top: 45px;
      width: 580px;
      padding-left: 60px; }
      .header_center .w .searchCon .searchBar {
        width: 574px;
        height: 34px;
        overflow: hidden;
        border: 3px solid #fc4c65;
        border-radius: 4px;
        font-size: 12px;
        font-family: "microsoft yahei"; }
        .header_center .w .searchCon .searchBar .searchInput {
          float: left;
          width: 470px;
          height: 34px;
          padding-left: 4px;
          border: 0px;
          color: #999;
          line-height: 34px; }
        .header_center .w .searchCon .searchBar .searchBtn {
          float: left;
          border: 0px;
          width: 100px;
          height: 34px;
          line-height: 34px;
          background-color: #fc4c65;
          color: #fff;
          font-size: 18px;
          cursor: pointer;
          font: 14px/1.5 'Microsoft YaHei', Helvetica, Arial, “宋体″, sans-serif; }
      .header_center .w .searchCon .hotSearch {
        line-height: 24px;
        width: 580px;
        height: 24px;
        overflow: hidden; }
        .header_center .w .searchCon .hotSearch a {
          margin-right: 6px;
          color: #999; }
    .header_center .w .Cart {
      float: right;
      border: 1px solid #d8d8d8;
      background-color: #f9f9f9;
      width: 130px;
      height: 38px;
      line-height: 38px;
      margin-top: 45px;
      position: relative; }
      .header_center .w .Cart a {
        font: 14px/1 "黑体",宋体, sans-serif;
        position: absolute;
        left: 14px;
        top: 8px;
        height: 14px;
        margin-top: 4px; }
        .header_center .w .Cart a .cartIcon {
          padding-left: 0px;
          word-spacing: 1.5em;
          background: url(../src/img/53.png) no-repeat center 0px; }
        .header_center .w .Cart a i {
          padding-left: 10px; }
    .header_center .w .navbar {
      width: 1200px;
      height: 110px;
      position: relative;
      line-height: 30px;
      margin: 0 auto;
      clear: both;
      position: relative; }
      .header_center .w .navbar #category {
        width: 205px;
        height: 38px;
        text-align: center;
        background-color: #fc4c65;
        position: absolute;
        bottom: -2px;
        float: left;
        line-height: 40px; }
        .header_center .w .navbar #category a {
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          float: left; }
          .header_center .w .navbar #category a .toDown {
            word-spacing: 1em;
            background: url(../img/whiteToDown.png) no-repeat right center; }
      .header_center .w .navbar .nav {
        position: absolute;
        left: 210px;
        top: -8px; }
        .header_center .w .navbar .nav li {
          padding: 5px 24px;
          margin: 0px 14px;
          font-size: 16px;
          float: left; }
          .header_center .w .navbar .nav li .dszb {
            background: url(../images/common/tv.gif) no-repeat left center;
            padding-left: 35px; }
          .header_center .w .navbar .nav li a:link {
            color: #777777;
            text-decoration: none !important; }
        .header_center .w .navbar .nav #header_notice {
          font: 12px/18px Arial, Simsun, Helvetica, sans-serif !important;
          position: relative;
          margin-left: 47px !important;
          display: inline-block;
          width: 256px;
          height: 18px;
          overflow: hidden;
          padding: 0;
          margin: 0;
          margin-top: 12px;
          float: left; }
          .header_center .w .navbar .nav #header_notice span {
            background: url(../images/common/icon_all.png) no-repeat;
            background-position: -67px -76px;
            display: inline-block;
            width: 14px;
            height: 14px;
            margin-top: 10px;
            position: absolute;
            left: 0;
            top: -6px; }
          .header_center .w .navbar .nav #header_notice ul {
            position: absolute;
            margin-left: 18px;
            padding-top: 1px; }
            .header_center .w .navbar .nav #header_notice ul a {
              display: inline-block;
              height: 18px;
              font: 12px/18px Arial, Simsun, Helvetica, sans-serif !important; }
            .header_center .w .navbar .nav #header_notice ul a:link {
              color: #777777;
              text-decoration: none !important; }
  .header_center .banner {
    width: 100%;
    height: 420px;
    clear: both;
    position: relative;
    overflow: hidden; }
    .header_center .banner .bx-wrapper {
      position: relative;
      margin: 0 auto 30px;
      padding: 0; }
      .header_center .banner .bx-wrapper .bx-viewport {
        width: 1920px !important;
        margin-left: -960px;
        left: 50%;
        background: #fff;
        transform: translatez(0); }
        .header_center .banner .bx-wrapper .bx-viewport .banCon {
          position: absolute;
          left: 0px;
          top: 0px; }
          .header_center .banner .bx-wrapper .bx-viewport .banCon li {
            height: 420px;
            min-width: 1200px; }
            .header_center .banner .bx-wrapper .bx-viewport .banCon li a {
              display: block;
              text-align: center; }
            .header_center .banner .bx-wrapper .bx-viewport .banCon li a:link {
              color: #777777;
              text-decoration: none !important; }
      .header_center .banner .bx-wrapper .bx-controls {
        margin: 0;
        padding: 0; }
        .header_center .banner .bx-wrapper .bx-controls .bx-pager {
          text-align: center;
          font-size: .85em;
          font-family: Arial;
          font-weight: bold;
          color: #666;
          padding-top: 20px;
          position: absolute;
          bottom: -30px;
          width: 100%; }
          .header_center .banner .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
            height: 50px;
            display: inline-block; }
            .header_center .banner .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
              background: #CCC;
              text-indent: -9999px;
              display: block;
              width: 10px;
              height: 10px;
              margin: 0 5px;
              outline: 0;
              border-radius: 5px; }
            .header_center .banner .bx-wrapper .bx-controls .bx-pager .bx-pager-item a:link {
              color: #777777;
              text-decoration: none !important; }
        .header_center .banner .bx-wrapper .bx-controls .bx-controls-direction {
          margin: 0;
          padding: 0; }
          .header_center .banner .bx-wrapper .bx-controls .bx-controls-direction bx-prev {
            position: absolute;
            left: 10px;
            top: 50%;
            background: url(../images/index/controls.png) no-repeat 0 -32px;
            margin-top: -16px;
            outline: 0;
            width: 32px;
            height: 32px;
            text-indent: -9999px;
            z-index: 9999; }
          .header_center .banner .bx-wrapper .bx-controls .bx-controls-direction a:link, .header_center .banner .bx-wrapper .bx-controls .bx-controls-direction a:visited {
            color: #777777;
            text-decoration: none !important; }
          .header_center .banner .bx-wrapper .bx-controls .bx-controls-direction .bx-next {
            right: 10px;
            background: url(../images/index/controls.png) no-repeat -43px -32px;
            position: absolute;
            top: 50%;
            margin-top: -16px;
            outline: 0;
            width: 32px;
            height: 32px;
            text-indent: -9999px;
            z-index: 9999; }
  .header_center .container {
    background-color: #fafafa;
    padding-bottom: 55px;
    width: 100%;
    clear: both; }
    .header_center .container .onSales {
      padding-top: 10px;
      width: 1200px;
      margin: 0 auto;
      clear: both;
      position: relative; }
      .header_center .container .onSales ul {
        margin: 0;
        padding: 0; }
        .header_center .container .onSales ul li {
          float: left;
          margin-right: 10px;
          width: 230px;
          height: 160px;
          width: 230px;
          height: 160px;
          overflow: hidden; }
          .header_center .container .onSales ul li img {
            vertical-align: bottom; }
    .header_center .container .hotSale {
      width: 1200px;
      margin: 0 auto;
      clear: both;
      position: relative; }
      .header_center .container .hotSale .hd {
        margin: 0;
        padding: 0; }
        .header_center .container .hotSale .hd h2 {
          float: left;
          font-size: 26px;
          font-weight: bold;
          color: #fc4c65;
          height: 58px;
          line-height: 58px; }
        .header_center .container .hotSale .hd .tabs {
          float: left;
          margin-top: 18px;
          height: 30px;
          line-height: 30px;
          margin-left: 10px; }
          .header_center .container .hotSale .hd .tabs span {
            padding: 5px 3px;
            font-size: 16px;
            color: #666; }
      .header_center .container .hotSale .HotRecomend {
        width: 1200px;
        margin: 0 auto;
        clear: both;
        position: relative; }
        .header_center .container .hotSale .HotRecomend .hot_sale_left {
          width: 400px;
          height: 666px;
          margin: 0px;
          padding: 0px;
          z-index: 9999;
          position: absolute;
          overflow: hidden;
          padding-top: 6px; }
          .header_center .container .hotSale .HotRecomend .hot_sale_left .wl {
            border: 1px solid #e6e6e6;
            position: absolute;
            overflow: hidden;
            height: 665px;
            background-color: #fff;
            float: left; }
            .header_center .container .hotSale .HotRecomend .hot_sale_left .wl li {
              float: left;
              width: 400px;
              height: 665px;
              margin-top: 10px; }
              .header_center .container .hotSale .HotRecomend .hot_sale_left .wl li .pImg {
                width: 360px;
                height: 360px;
                margin: 0 auto;
                display: block;
                overflow: hidden; }
                .header_center .container .hotSale .HotRecomend .hot_sale_left .wl li .pImg img {
                  width: 360px;
                  height: 360px; }
        .header_center .container .hotSale .HotRecomend .lbt_btn {
          position: absolute;
          left: 122px;
          top: 58%;
          width: 20%;
          margin-left: 42px;
          cursor: pointer;
          z-index: 9999; }
          .header_center .container .hotSale .HotRecomend .lbt_btn i {
            display: block;
            float: left;
            margin-left: 5px;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            background-color: #ccc;
            z-index: 999; }
          .header_center .container .hotSale .HotRecomend .lbt_btn .current {
            background-color: #ff8942; }
        .header_center .container .hotSale .HotRecomend .wr {
          width: 780px;
          height: 667px;
          overflow: hidden;
          z-index: 1;
          margin-left: 10px;
          padding: 6px 0;
          float: right; }
          .header_center .container .hotSale .HotRecomend .wr ul li {
            padding: 7px;
            float: left;
            border: 1px solid #e6e6e6;
            margin-left: 22px;
            margin-bottom: 20px;
            background-color: #fff;
            position: relative;
            width: 220px;
            height: 305px; }
    .header_center .container .floors {
      width: 1200px;
      margin: 0 auto;
      clear: both;
      position: relative; }
      .header_center .container .floors .floor {
        padding-top: 30px; }
        .header_center .container .floors .floor .hd {
          border-bottom: 1px solid #d91404;
          height: 36px;
          line-height: 36px;
          position: relative; }
          .header_center .container .floors .floor .hd h2 {
            font-size: 26px;
            font-weight: bold; }
          .header_center .container .floors .floor .hd .tabNav {
            position: absolute;
            bottom: -1px;
            right: 0px;
            height: 36px;
            line-height: 36px; }
            .header_center .container .floors .floor .hd .tabNav a {
              float: left;
              padding: 0px 15px;
              cursor: pointer; }
            .header_center .container .floors .floor .hd .tabNav .sel {
              border: 2px solid #d91404;
              border-bottom: 0px;
              margin: -2px -2px 0px -2px;
              color: #d91404;
              background-color: #fafafa; }
        .header_center .container .floors .floor .bd {
          margin-top: 24px;
          height: 789px;
          padding: 10px 0; }
          .header_center .container .floors .floor .bd .productAd {
            width: 588px;
            height: 382px;
            overflow: hidden;
            border: 0;
            margin-right: 23px;
            float: left; }
            .header_center .container .floors .floor .bd .productAd img {
              width: 588px;
              height: 383px;
              vertical-align: bottom; }
  .header_center .bottom_synopsis {
    /* background: #efefef; */
    padding: 25px 0px;
    width: 100%;
    margin-top: 50px; }
    .header_center .bottom_synopsis .footer_add {
      width: 1200px;
      margin: 0 auto;
      padding-left: 42px;
      float: left; }
      .header_center .bottom_synopsis .footer_add .phone_synopsis_box {
        margin-right: 85px;
        display: inline;
        float: left; }
        .header_center .bottom_synopsis .footer_add .phone_synopsis_box l
        .index_icon {
          width: 65px;
          height: 65px;
          margin-top: 2px;
          background-image: url(../img/);
          background-repeat: no-repeat; }
          .header_center .bottom_synopsis .footer_add .phone_synopsis_box l
          .index_icon .phone_synopsis {
            float: left; }
            .header_center .bottom_synopsis .footer_add .phone_synopsis_box l
            .index_icon .phone_synopsis h3 {
              font-size: 16px;
              color: #595757;
              height: 30px;
              line-height: 30px; }
              .header_center .bottom_synopsis .footer_add .phone_synopsis_box l
              .index_icon .phone_synopsis h3 a {
                font-size: 17px;
                color: #595757;
                height: 30px;
                line-height: 30px;
                text-decoration: none;
                font-weight: 700;
                font-family: "黑体"; }
            .header_center .bottom_synopsis .footer_add .phone_synopsis_box l
            .index_icon .phone_synopsis p {
              font-size: 12px;
              color: #595757;
              height: 20px;
              line-height: 20px; }
      .header_center .bottom_synopsis .footer_add .tell_synopsis_box {
        display: inline;
        float: left;
        margin-right: 116px; }
        .header_center .bottom_synopsis .footer_add .tell_synopsis_box .bottom_synopsis_icon_03 {
          margin-left: 20px;
          display: inline;
          float: left;
          width: 65px;
          height: 65px;
          margin-top: 2px;
          background-position: -98px -130px;
          background-repeat: no-repeat; }
        .header_center .bottom_synopsis .footer_add .tell_synopsis_box .tel_synopsis {
          margin-left: 20px;
          float: left;
          display: inline; }
          .header_center .bottom_synopsis .footer_add .tell_synopsis_box .tel_synopsis h3 {
            font-size: 16px;
            color: #595757;
            height: 30px;
            line-height: 30px; }
            .header_center .bottom_synopsis .footer_add .tell_synopsis_box .tel_synopsis h3 a {
              font-size: 17px;
              color: #595757;
              height: 30px;
              line-height: 30px;
              text-decoration: none;
              font-weight: 700;
              font-family: "黑体"; }
          .header_center .bottom_synopsis .footer_add .tell_synopsis_box .tel_synopsis p {
            font-size: 12px;
            color: #595757;
            height: 20px;
            line-height: 20px; }
      .header_center .bottom_synopsis .footer_add .qq_synopsis_box {
        margin-right: 85px;
        display: inline;
        float: left; }
        .header_center .bottom_synopsis .footer_add .qq_synopsis_box .bottom_synopsis_icon_04 {
          float: left;
          width: 65px;
          height: 65px;
          margin-top: 2px;
          background-image: url(../Images/FS/index_icon.png);
          background-repeat: no-repeat; }
        .header_center .bottom_synopsis .footer_add .qq_synopsis_box .qq_synopsis {
          float: left; }
          .header_center .bottom_synopsis .footer_add .qq_synopsis_box .qq_synopsis h3 {
            font-size: 16px;
            color: #595757;
            height: 30px;
            line-height: 30px; }
            .header_center .bottom_synopsis .footer_add .qq_synopsis_box .qq_synopsis h3 a {
              font-size: 17px;
              color: #595757;
              height: 30px;
              line-height: 30px;
              text-decoration: none;
              font-weight: 700;
              font-family: "黑体"; }
          .header_center .bottom_synopsis .footer_add .qq_synopsis_box .qq_synopsis p {
            font-size: 12px;
            color: #595757;
            height: 20px;
            line-height: 20px; }

.helpLink {
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  font-size: 14px; }
  .helpLink .w {
    width: 1200px;
    margin: 0 auto;
    clear: both;
    position: relative;
    display: block;
    overflow: hidden; }
    .helpLink .w .FSIntro {
      width: 418px;
      float: left;
      margin-right: 50px; }
      .helpLink .w .FSIntro h4 {
        font-size: 15px;
        font-weight: bold;
        color: #fd3502;
        height: 30px;
        line-height: 30px; }
      .helpLink .w .FSIntro p {
        line-height: 24px;
        font-family: 'Microsoft YaHei';
        font-size: 13px; }
    .helpLink .w dl {
      float: left;
      margin-right: 4px; }
      .helpLink .w dl dt {
        font-size: 16px;
        font-family: "黑体";
        line-height: 30px;
        width: 118px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 700; }
        .helpLink .w dl dt dd {
          line-height: 24px;
          width: 118px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }

.siteLink {
  background-color: #fff;
  padding: 20px 0;
  font-size: 14px;
  width: 100%; }
  .siteLink .w {
    width: 1200px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin: 20px auto;
    margin: 0 auto;
    clear: both;
    position: relative; }

.copyRight {
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: #f12e24;
  color: #fff; }

/*# sourceMappingURL=index.css.map */
